# Core Django
Django>=5.0.4,<6.0
python-decouple>=3.8

# Image Processing
Pillow>=10.0.0
reportlab>=4.0.0
rembg>=2.0.50
onnxruntime>=1.16.0

# Database
psycopg2-binary>=2.9.9

# Caching / Queue
celery>=5.3.6
redis>=5.0.1
django-redis>=5.4.0

# Production Server
